body {
    padding-top: 1rem;
    font-family: Arial, sans-serif;
    margin-left: 20rem;
    margin-right: 20rem;
    background-color: beige;
    padding: 3rem 0rem;
}

.container {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 2rem;
}

.top {
    margin-top: 1rem;
    text-align: center;
}

.text-warning {
    color: darkorange !important;
}